.usersPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}
.messanges{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    background-color: cornflowerblue;
}
.chat{
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.messange{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: inherit;
    align-content: flex-end;
}
.span{

    padding-left: 20px;
    padding-right: 20px;
}
.span2{
    background-color: plum;
    padding-left: 20px;
    padding-right: 20px;
}