.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
}

.dialogsItems {
    padding: 10px;
    color: white;

    text-decoration: none;

}

.dialogsItems .active {
    color: gold;

    text-decoration: none;

}

.messages {
    padding: 10px;
    color: white;
}


.messages .message {
    color: white;
}